<%- include("partials/header"); -%>

<div class="TSFBANK">
	<div class="container">
		<div class="TSFBANK-inner">
			<h2 class="head">WELCOME TO THE APNA BANK</h2>
			<div style="height:30px"></div> 
			<div class="TSFBANK-right">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					  <div class="carousel-inner">
					    <div class="carousel-item active ">
					      <img width="40px" height="300px" class="d-block w-100" src="images/giphy.gif" alt="First slide">
					    </div>
					  </div>
               </div>
			</div>
		</div>
	</div>
</div>

<div class="features">
	<div class="container">
		<div class="features-inner">
		
		<div class="features-inner-one">
			<i class="fas fa-search-dollar"></i>
			<div>
                <h5>Full Safety & Security</h5>
			    <p>We provide Best and secure networks of your money.</p>
            </div>
		</div>
		
		</div>
	</div>
	
</div>
<div class="profile">
		<div class="container">
			<div class="profile-inner">

				
			</div>
		</div>
	</div>

<%- include("partials/footer"); -%>