<%- include("partials/header"); -%>

<div class="TSFBANK">
	<div class="container">
		<div class="TSFBANK-inner">
			<h2 class="head">WELCOME TO THE WORLD BANK</h2>
			<div class="TSFBANK-right">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					  <div class="carousel-inner">
					    <div class="carousel-item active ">
					      <img width="40px" height="300px" class="d-block w-100" src="images/bank.png" alt="First slide">
					    </div>
					    <div class="carousel-item ">
					      <img width="40px" height="300px" class="d-block w-100" src="images/money.jpg" alt="Second slide">
					    </div>
					    
					  </div>
               </div>
			</div>
			<div class="TSFBANK-left">
				<a href="/customers">
				<button type="button" class="btn start-btn">GET STARTED</button></a>
			 </div>
		</div>
	</div>
</div>

<div class="features">
	<div class="container">
		<div class="features-inner">
		
		<div class="features-inner-one">
			<i class="fas fa-search-dollar"></i>
			<div>
                <h5>Full Safety & Security</h5>
			    <p>We provide Best and secure networks to your work</p>
            </div>
		</div>
		
		</div>
	</div>
	
</div>
<div class="profile">
		<div class="container">
			<div class="profile-inner">

				<h3>DESIGNED AND DEVELOPED BY:- <span>Rishabh Singhal<span></h3>
			</div>
		</div>
	</div>

<%- include("partials/footer"); -%>